
/**
 * COLORS:
 * Magenta #EC008C
 * White #FFF
 * Light Gray #EEE
 * Translucent Black rgba(0, 0, 0, 0.5)
 */


/* ------ HEADER ------ */

header {
  background: #EC008C;
  display: block;
  height: 72px;
}

/* ------ PRIMARY NAV ------ */

nav#main-nav {
  background: #EC008C;
}

nav#main-nav ul {
}

nav#main-nav ul li {
  position: relative;
}

nav#main-nav ul li a {
  padding: 0 24px;
  text-decoration: none;
  display: block;
  background: #EC008C;
  color: #FFF;
  font: 21px 'HUGEAvantGardeBold';
  line-height: 72px;
  height: 72px;
  text-align: center;
  cursor: pointer;
  transition: .2s background, .2s color;
}

nav#main-nav ul li a:hover, 
nav#main-nav ul li a.active-menu-item {
  background: #FFF;
  color: #EC008C;
}

/* ------ SECONDARY NAV ------ */

nav#main-nav ul li ul {
  display: none;
  position: absolute;
  min-width: 230px;
  z-index: 100;
}

nav#main-nav ul li ul li {
  display: block;
  float: none;
}

nav#main-nav ul li ul li a {
  display: block;
  font: 16px 'Galaxie';
  line-height: 48px;
  height: 48px;
  text-align: left;
  background: #FFF;
  color: #000;
}

nav#main-nav ul li ul li a:hover {
  background: #EEE;
  color: #EC008C;
}

nav#main-nav ul li a.active-menu-item + ul {
  display: block;
}

/* ------ PRIMARY NAV 768px++ RESOLUTIONS ------ */

@media screen and (min-width: 768px) {

  nav#main-nav {
    margin-left: 132px;
    min-width: 816px;
  }

  nav#main-nav ul li {
    float: left;
  }

}

/* ------ PRIMARY NAV 768px-- RESOLUTIONS ------ */
@media screen and (max-width: 767px) {

  nav#main-nav {
    display: none;
    max-width: 300px;
  }

  nav#main-nav ul li a {
    text-align: left;
  }

}
