
@import "fonts.css";

/**
 * COLORS:
 * Magenta #EC008C
 * White #FFF
 * Light Gray #EEE
 * Translucent Black rgba(0, 0, 0, 0.5)
 */

/**
 *
 * INDEX:
 *  1 LOGO
 *  2 PRIMARY NAV
 *  3 SECONDARY NAV
 *  4 CONTENT
 *  5 ILUSTRATION
 *  6 MAIN CONTENT
 *  7 INTRODUCTION
 *  8 FOOTER
 *  9 TRANSITIONS
 *  10 Z-INDEX
 */

/* ----------------------------- LOGO ----------------------------- */

#main-logo {
    float: left;
    height: 72px;
    width: 132px;
    color: #FFF;
    text-align: center;
    background: #EC008C url(../images/HUGE-white-logo.png) no-repeat 24px 24px;
    cursor: default;
    font: 25px/72px 'HUGEAvantGardeBold';
    background-size: 60px 24px;
    text-indent: -9999px;
}

#main-logo button {
    display: none;
}

@media all and (max-width: 767px) {

    #main-logo {
        height: 60px;
        width: 100%;
        color: transparent;
        text-align: left;
        background: #EC008C;
        position: fixed;
        top: 0;
        left: 0;
    }

    #main-logo button {
        display: block;
        border: none;
        outline: none;
        cursor: pointer;
        color: transparent;
        background: #EC008C url(../images/hamburguer.png) no-repeat 0 0;
        overflow: hidden;
        width: 24px;
        height: 20px;
        position: absolute;
        top: 20px;
        left: 24px;
    }

    #main-logo.with-menu-visible {
        background: #EC008C url(../images/HUGE-white-logo.png) no-repeat 24px 20px;
        background-size: 50px 20px;
    }

    #main-logo.with-menu-visible button {
        background: #EC008C url(../images/x-button.png) no-repeat 0 0;
        width: 24px;
        height: 24px;
        left: auto;
        top: 18px;
        right: 24px;
    }

}

/* ----------------------------- PRIMARY NAV ----------------------------- */

nav#main-nav ul li a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    padding: 0 24px;
    background: #EC008C;
    color: #FFF;
    font: 21px/72px 'HUGEAvantGardeBold';
    height: 72px;
    text-align: center;
}

nav#main-nav ul li a:hover,
nav#main-nav ul li a.active-menu-item {
    background: #FFF;
    color: #EC008C;
}

@media all and (min-width: 768px) {

    nav#main-nav {
        background: #EC008C;
        height: 72px;
        margin-left: 132px;
        min-width: 816px;
    }

    nav#main-nav ul li {
        float: left;
    }

}

@media all and (max-width: 767px) {

    nav#main-nav {
        background: #FFF;
        position: fixed;
        width: 300px;
        height: 100%;
        left: -300px;
        top: 60px;
    }

    nav#main-nav.with-menu-visible {
        left: 0;
    }

    nav#main-nav ul li:first-child {
        background: #FFF;
        padding-top: 12px;
    }

    nav#main-nav ul li a {
        padding: 0;
        padding-left: 24px;
        background: #FFF;
        color: #000;
        font: 21px/48px 'HUGEAvantGardeBold';
        height: 48px;
        text-align: left;
    }

    nav#main-nav ul li.with-children>a {
        background: #FFF;
        position: relative;
    }

    nav#main-nav ul li.with-children>a::after {
        content: url(../images/down-icon.png);
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 48px;
    }

    nav#main-nav ul li.with-children>a.active-menu-item::after {
        transform: rotate(-180deg);
        transform-origin: center center;
    }

    nav#main-nav ul li a:hover {
        color: #000;
        background-color: #EEE;
    }

}

/* ----------------------------- SECONDARY NAV ----------------------------- */

nav#main-nav ul li ul {
    overflow: hidden;
    max-height: 0px;
}

nav#main-nav ul li ul li {
    display: block;
    float: none;
}

nav#main-nav ul li ul li a {
    font: 16px/48px 'Galaxie';
    height: 48px;
    text-align: left;
    color: #000;
    background: #FFF;
}

nav#main-nav ul li ul li a:hover {
    background: #EEE;
    color: #EC008C;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-1 {
    max-height: 50px;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-2 {
    max-height: 100px;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-3 {
    max-height: 150px;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-4 {
    max-height: 200px;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-5 {
    max-height: 220px;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-6 {
    max-height: 300px;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-7 {
    max-height: 350px;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-8 {
    max-height: 400px;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-9 {
    max-height: 450px;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-10 {
    max-height: 500px;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-11 {
    max-height: 550px;
}

nav#main-nav ul li a.active-menu-item + ul.inner-list-12 {
    max-height: 600px;
}

@media all and (min-width: 768px) {

    nav#main-nav ul li ul {
        position: absolute;
        min-width: 230px;
    }
    
}

@media all and (max-width: 767px) {

    nav#main-nav ul li a.active-menu-item {
        color: #000;
    }

    nav#main-nav ul li.with-children ul li a {
        background: transparent;
    }

    nav#main-nav ul li.with-children ul li a:hover {
        background: #EEE;
    }
    
}

/* ----------------------------- CONTENT ----------------------------- */

@media all and (max-width: 767px) {
    
    #content {
        margin-top: 60px;
    }

}

.translucent-mask {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
}

@media all and (max-width: 767px) {
    .translucent-mask {
        top: 60px;
    }
}

@media all and (min-width: 768px) {
    .translucent-mask {
        top: 72px;
    }
}

/* ----------------------------- ILUSTRATION ----------------------------- */

#ilustration {
    overflow: hidden;
}

@media all and (min-width: 767px) {

    #ilustration {
        height: 640px;
    }

    #ilustration img {
        width: 100%;
        min-width: 1280px;
        min-height: 640px;
    }

}

@media all and (max-width: 767px) {
    
    #ilustration {
        height: 240px;
    }

}

@media all and (max-width: 480px) { /*432*/

    #ilustration img {
        height: 240px;
    }

}

@media all and (min-width: 481px) and (max-width: 767px) {

    #ilustration img {
        width: 100%;
        min-height: 240px;
    }

}

/* ----------------------------- MAIN CONTENT ----------------------------- */

@media all and (min-width: 768px) {

    #main-content {
        height: 640px;
        margin-top: -640px;
        position: relative;
    }

    #main-content h1 {
        color: #FFF;
        font: 120px/132px 'HUGEAvantGardeBold';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: default;
        text-align: center;
    }

}

@media all and (max-width: 767px) {
    
    #main-content {
        height: auto;
        margin: 50px 0;
        padding-left: 24px;
    }

    #main-content h1 {
        color: #000;
        font: 44px/48px 'HUGEAvantGardeBold';
    }

}

/* ----------------------------- INTRODUCTION ----------------------------- */

#introduction {
    padding: 60px 0;
    margin: 0 auto;
    max-width: 968px;
    font: 24px/36px 'Galaxie';
}

#introduction p {
    text-align: justify;
}

@media all and (max-width: 767px) {
    
    #introduction {
        padding: 0 24px;
        margin: 0;
        margin-bottom: 20px;
        font: 14px/24px 'Galaxie';
    }

}

/* ----------------------------- FOOTER ----------------------------- */

footer#main-footer {
    font: 12px/48px 'HelveticaNeue', Helvetica Neue, Helvetica, Arial, sans-serif;
    height: 48px;
}

@media all and (min-width: 768px) {
    
    footer#main-footer {
        text-align: center;
    }

}

@media all and (max-width: 767px) {

    footer#main-footer {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        padding-left: 24px;
        left: -300px;
        background: #FFF;
    }

    footer#main-footer.with-menu-visible {
        left: 0px;
    }

}

/* ----------------------------- TRANSITIONS ----------------------------- */

@media all and (max-width: 767px) {

    nav#main-nav, #content, footer#main-footer {
        transition: all 1s;
    }

    nav#main-nav ul li ul {
        transition: all 1s ;
    }

    nav#main-nav ul li.with-children>a::after {
        transition: all .3s;
    }

}

/* ----------------------------- Z-INDEX ----------------------------- */

.translucent-mask {
    z-index: 500;
}

#main-logo {
    z-index: 1000;
}

nav#main-nav {
    z-index: 600;
}

nav#main-nav ul li ul {
    z-index: 1000;
}

footer#main-footer {
    z-index: 1000;
}
